/* Promo-Carousel */

.promo-carousel {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
}

.promo-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.promo-slide.active {
  opacity: 1;
}

.promo-text {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #fff;
  text-align: left;
  max-width: 300px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.promo-text h1 {
  font-size: 2rem;
  margin: 0 0 10px;
}

.promo-text h2 {
  font-size: 1.5rem;
  margin: 0 0 20px;
}

.promo-text input[type="search"] {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 1.5rem;
}

.promo-text button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.promo-text button:hover {
  background-color: #0056b3;
}

/* All-Categories */

.allcategories {
  font-size: 3rem;
  padding: 2rem;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.category-card {
  position: relative;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.category-text {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-top: 10rem;
  width: 100%;
  text-align: center;
}

.categories {
  font-size: 2rem;
  margin-bottom: 20px;
  background-color: #337ab7;
  color: white;
  height: 7rem;
  line-height: 7rem;
  text-align: center;
  border-radius: 10px;
}

/* Category-Section */
/* Popular-Products */

.product-list {
  padding: 20px;
}

.products-list-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.product-category {
  width: 100%;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}