.navbar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .top-nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: #666;
  }
  
  .nav-link {
    margin: 0 1rem;
    color: #666;
  }
  
  .language-dropdown {
    padding-right: 1rem;
    font-size: 0.8rem;
    color: #666;
    cursor: pointer;
  }
  
  .currency-dropdown {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    font-size: 0.8rem;
    color: #666;
    cursor: pointer;
  }
  
  .middle-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 2rem;
    padding-left: 2rem;
    font-weight: bold;
    margin-right: 1rem;
    color: #337ab7;
    text-decoration: none;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 350px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #666;
  }
  
  .search-button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
  }
  
  .location-dropdown {
    margin-right: 1rem;
  }
  
  .bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-section {
    display: flex;
    width: 100%;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: #337ab7;
  }
  
  .megamenu-dropdown {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .main-nav {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 1.3rem;
    color: #666;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  