/* Product Card Styles */

.allproducts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.product-card {
    width: 320px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin: 20px;
    text-align: center;
    background-color: #fff;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0;
}

/* Company Name Styles */

.company-name {
    font-size: 14px;
    color: #555;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;

}

/* Product Name Styles */

.product-name {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

/* Rating Stars Styles */

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding: 5px;
    text-decoration: none;
}

.star {
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.star:hover,
.star.filled {
    color: #ffd700;
}

/* Cost and Add Button Styles */

.cost-and-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
}

.cost {
    font-size: 18px;
    padding-right: 4rem;
    padding-top: 1rem;
    color: #000;
    font-weight: bold;
}

.add {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
}

.add:hover {
    background-color: #3e8e41;
    transform: scale(1.05);
}

.add svg {
    margin-right: 5px;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555;
    padding: 0 10px;
}

.quantity {
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
}

.quantity-controls .plus {
    color: #4caf50;
}

.quantity-controls .minus {
    color: #f44336;
}

/* Category Texts Styles */

.category-texts {
    height: 20rem;
    color: #fff;
    padding-top: 10rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

/* Responsive Styles */

@media (max-width: 768px) {
    .product-card {
        width: 250px;
    }
}

@media (max-width: 480px) {
    .product-card {
        width: 200px;
    }
}